@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: beige;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 1080px) {
  .image-container {
    margin: 10px;
  }
  h1 {
    font-size: 1.8rem;
  }
}
